// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

// ========== Setting ==========
$font-family: "Robot", "NotoSansTC", "Helvetica Neue", Helvetica, Arial, 'PingFang TC', 'Heiti TC', 'LantingHei TC', 'Microsoft JhengHei', 'Microsoft YaHei', "微軟正黑體", sans-serif;
$max-width: 1280px;

// ========== Color ==========
$color-background: #33383c;
$color-header-tabs-background: #2a2d31;
$color-header-tab-background: #33383c;
$color-text: #fff;
$color-text-grey: rgba(255,255,255,.7);
$color-text-scale-time: #b6ceff;
$color-text-scale-alarm: #ffa7a3;
$color-text-rate-oee: #3aa0f7;
$color-text-rate-perf: #3d7dff;
$color-text-rate-time: #27c1a4;
$color-text-rate-fpy: #f4af70;
$color-text-rate-ofr: #bc5dc4;
$color-icon-active: invert(50%) sepia(99%) saturate(1570%) hue-rotate(189deg) brightness(101%) contrast(95%);
$color-icon-inactive: invert(80%) sepia(5%) saturate(50%) hue-rotate(170deg) brightness(380%) contrast(95%);
$color-active: #5EBEFF;
$color-active-box-shadow: 0 0 10px 0 #3f99df;
$color-status-normal: #27c1a4;
$color-status-pause: #ffdb76;
$color-status-stop: #acacac;
$color-status-alarm: #ff5f57;
$color-progress-high: #76ffbd;
$color-progress-mid: #f0ff94;
$color-progress-low: #ff9f76;
$color-light-normal: #27c1a4;
$color-light-alarm: #ff835c;
$color-table-row-odd: #3b4044;
$color-table-row-odd-highlight: #3d464d;
$color-table-row-even: #32363a;
$color-table-row-even-highlight: #343d44;
$color-table-column-border: rgba(255, 255, 255, 0.1);
