.pirate-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  background-size: cover;
  transition: 0.1s;

  &.pirate-icon-16 {
    width: 16px;
    height: 16px;
  }

  &.pirate-icon-36 {
    width: 36px;
    height: 36px;
  }

  &.pirate-icon-42 {
    width: 42px;
    height: 42px;
  }

  &.icon-btn {
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      filter: invert(50%) sepia(99%) saturate(1570%) hue-rotate(189deg) brightness(101%) contrast(95%);
    }
  }

  .v-tab--active {
    filter: invert(50%) sepia(99%) saturate(1570%) hue-rotate(189deg) brightness(101%) contrast(95%);
  }

  &.rotate {
    transform: rotate(180deg);
  }

  &.icon-circle{
    background: #A6A6A6;
    border-radius: 50%;
    margin: 4px;
  }

  &.icon-logo {
    background-image: url("/images/icon_logo.svg");
  }

  &.icon-close {
    background-image: url("/images/icons/Icon_close.svg");
  }

  &.icon-minimize {
    background-image: url("/images/icons/Icon_minimize.svg");
  }

  &.icon-maximize {
    background-image: url("/images/icons/Icon_maximize.svg");
  }

}
